body {
  background-image: linear-gradient(to left top, #C837E8, #4865FF);
}

h1, h2, h3, h4, p {
  margin:0;
  padding: 20px;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Bungee Shade';
}

p, ul {
  font-family: 'Bungee';
}

h1 {
  font-size: 2em;
  padding: 200px 0 50px;
}

h1:after {
  content: "";
  top: 50%;
  right:100%;
  height: 3px;
  width: 50px;
  margin: 8px;
  display: inline-block;
  background-color: #efc73c;
}

h1:before {
  content: "";
  top: 50%;
  left:100%;
  height: 3px;
  width: 50px;
  margin: 8px;
  display: inline-block;
  background-color: #efc73c;
}

h2:after {
  content: "";
  top: 50%;
  right:100%;
  height: 3px;
  width: 50px;
  margin: 5px;
  display: inline-block;
  background-color: #efc73c;
}

h2:before {
  content: "";
  top: 50%;
  left:100%;
  height: 3px;
  width: 50px;
  margin: 5px;
  display: inline-block;
  background-color: #efc73c;
}

.contact {
  width:300px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  padding: 50px 0;
}

.contact img {
  padding: 0 40px;
  height: 25px;
}

header {
  height: 100vh;
}


.aboutMe, .education, .skills {
  height:auto;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.frontendSkills {
  width:300px;
}

.navalSkills {
  width:300px;
}

.skillsList {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

li span {
  text-decoration:underline;
}

@media screen and (min-width:740px) {
 .aboutMe, .education, .skills {

 }
  h1 {
    font-size: 3em;
    padding-top: 300px;
  }
  h1::after {
    width: 100px;
    margin: 13px;
  }
  h1::before {
    width: 100px;
    margin: 13px;
  }
  .contact img {
    height: 35px;
  }
  h2 {
    padding: 100px 0 0;
  }
  p {
    padding:30px 0;
  }
}

@media screen and (max-width:480px) {
  h1:before, h1:after, h2:before, h2:after {
    display: none;
  }
  .contact {
    width:200px;
  }
}
