h1, h2, h4, p {
  margin:0;
  padding: 20px;
}

h1:after {
  content: "";
  position: absolute;
  top: 50%;
  right:1%;
  height: 2px;
  width: 70px;
  margin: 0 10px;
  display: inline-block;
  background-color: #efc73c;
}

h1:before {
  content: "";
  position: absolute;
  top: 50%;
  left:1%;
  height: 2px;
  width: 70px;
  margin: 0 10px;
  display: inline-block;
  background-color: #efc73c;
}

body {
  margin: 0;
  padding: 0;
  background: url(img/zdjecie1.jpg) no-repeat center center fixed;
  background-size: cover;
}

.background {
  background-color: rgba(50,50,50,0.6);
  overflow: hidden;

}

h1,h2, h4, p {
  text-align: center;
}

header, .aboutMe, .education, .skills {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMe, .skills {
  width: 250px;
  margin-left: auto;
  margin-right: -250px;
  transition: 2s;

}

.education {
  width: 250px;
  margin-left: -250px;
  margin-right: auto;
  transition: 2s;
}

.hidden {
  position: relative;
  height: 100vh;
  transition: 2s;

}

