body {
  background-image: linear-gradient(to left top, #C837E8, #4865FF);
}

h1, h2, h3, h4, p {
  margin:0;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  padding: 200px 0 50px;
}

h1:after {
  content: "";
  top: 50%;
  right:100%;
  height: 3px;
  width: 50px;
  margin: 8px;
  display: inline-block;
  background-color: #efc73c;
}

h1:before {
  content: "";
  top: 50%;
  left:100%;
  height: 3px;
  width: 50px;
  margin: 8px;
  display: inline-block;
  background-color: #efc73c;
}

h2:after {
  content: "";
  top: 50%;
  right:100%;
  height: 3px;
  width: 50px;
  margin: 5px;
  display: inline-block;
  background-color: #efc73c;
}

h2:before {
  content: "";
  top: 50%;
  left:100%;
  height: 3px;
  width: 50px;
  margin: 5px;
  display: inline-block;
  background-color: #efc73c;
}

.spanContact {
  content: "dupa";
  height: 50px;
}

.contact {
  width:300px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  padding: 50px;
}

.contact img {
  padding: 0 20px;
}

header {
  height: 100vh;
}

.aboutMe, .education, .skills {
  height:auto;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.frontendSkills {
  width:300px;
}

.navalSkills {
  width:300px;
}

.skillsList {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

@media screen and (min-width:640px) {
 .aboutMe, .education, .skills {
  height: 100vh;
 }
  h1 {
    font-size: 3em;
  }
  h1::after {
    width: 100px;
    margin: 13px;
  }
  h1::before {
    width: 100px;
    margin: 13px;
  }
}

